<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel = "stylesheet" href ="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/styles.css">
</head>

<body>
	<div class="container-fluid">
	<h3><%=c%></h1>
	<img src="<%=i%>">
	<h4><%=d%></h4>
	<h1><span class="temp"><%=t%></span><span class="unit">&#176C</span></h1>
	</div>

</body>
</html>